/*产品基本信息*/
.details-info { background-color: #fff; }
.details-title { padding: 0.5rem 0.75rem 0; font-size: 0.75rem; color: #333; overflow: hidden; }
.details-title span { margin-left: 0.25rem; font-size: 0.5rem; }
.details-tel { color: #ff4477; display: block; }
.details-comment { display: block; padding: 0.5rem 0.75rem; font-size: 0.5rem; color: #999; text-align: right; height: 1rem; line-height: 1rem; border-top: 1px solid #eee; }
.comment-score { float: left; }
.comment-score em { margin-right: 0.5rem; font-size: 0.6rem; display: inline-block; vertical-align: middle; }
.comment-score i { font-size: 0.75rem; margin-right: 0.25rem; vertical-align: middle; }
.comment-score i.not-light { color: #ccc; }
.details-comment i.icon-iconfont-jiantou { font-size: 0.6rem; margin-left: 0.6rem; margin-top: 0.2rem; }
.details-explian { padding: 0 0.75rem 0.5rem; font-size: 0.6rem; color: #999; }
/*详细页面列表*/
.details-list-title { background-color: #fff; padding: 0.5rem 0.75rem; font-size: 0.6rem; color: #333; }
.details-list { background-color: #fff; }
.details-list li { padding: 0.4rem 0.75rem; border-bottom: 1px solid #eee; display: table; width: 100%; box-sizing: border-box; font-size: 0.7rem; }
.pro-price { width: 5rem; text-align: right; display: table-cell; vertical-align: middle; font-size: 0; }
.pro-price .price { vertical-align: top; display: inline-block; text-align: center; }
.pro-price .price strong { font-size: 0.65rem; }
.pro-price .original-price { font-size: 0.45rem; color: #999; display: block; }
.pro-price a, .room-handle a { display: block; text-align: center; height: 1rem; line-height: 1rem; font-size: 0.5rem; width: 2rem; vertical-align: top; border-radius: 2px; color: #ff6633; margin-left: 4rem; margin-top: 0.125rem; border: 1px solid #ff6633; }
.pro-price p { width: 3rem; text-align: right; float: left; font-size: 0; }
.pro-info { min-height: 1.9rem; height: auto; display: table-cell; vertical-align: middle; padding-right: 0.5rem; }
.pro-info .otherinfo { font-size: 0.4rem; color: #888; padding-top: 0.2rem; }
.pro-info-title { font-size: 0.65rem; color: #333; }
.pro-info-explian { font-size: 0.5rem; color: #999; margin-top: 0.25rem; height: 0.75rem; line-height: 0.75rem; }
.pro-info-explian span { margin-right: 0.5rem; }
.details-explian .price { font-size: 0.5rem; color: #999; margin-left: 0.5rem; }
.details-explian .price strong { margin-right: 0.25rem; }
.details-explian .original-price { padding-top: .025rem; }
.coupon-details-list .pro-info { width: 5.25rem; padding-right: 0; }
.coupon-details-list .pro-info .price { height: 2.6rem; background: url("../images/details/coupon-bg.png") no-repeat; background-size: 100% auto; width: 100%; font-size: 0; padding: 0.125rem; box-sizing: border-box; }
.coupon-details-list .pro-info .price strong { font-size: 1.5rem; display: block; padding-right: 1.2rem; margin-top: -0.25rem; text-align: center }
.coupon-details-list .pro-price { padding-left: 0.5rem; }
.coupon-details-list .pro-price p { font-size: 0.6rem; width: 7rem; text-align: left; line-height: 160%; }
.coupon-details-list .pro-price p span { display: block; color: #333; }
.coupon-details-list .pro-price p span:last-child { color: #999; }
.coupon-details-list .pro-price a { margin-left: 7rem; margin-top: 0.85rem; }
/*美食详细页面列表*/
.foods-list { background-color: #fff; }
.foods-list li { padding: 0.5rem 0.75rem; border-bottom: 1px solid #eee; }
.foods-list-img { width: 3.25rem; height: 2.4rem; overflow: hidden; float: left; }
.foods-list-img img { height: 100%; }
.foods-list-info { margin-left: 3.75rem; min-height: 2.4rem; height: auto; }
.foods-list-title { font-size: 0.65rem; color: #333; height: 1.5rem; }
.foods-list-explian { font-size: 0.45rem; height: 0.75rem; line-height: 0.75rem; text-align: right; color: #999; }
.foods-list-explian span { display: inline-block; vertical-align: bottom; }
.foods-list-explian .price { margin-left: 0.5rem; }
.foods-list-explian span.fl { margin-top: 0.05rem; }
.myorder-list { border-top: none; }
/*文章详细页面*/
.article-info { padding: 0.75rem; font-size: 0.6rem; line-height: 200%; color: #666; }
.article-flag { padding-bottom: 0.8rem; margin-bottom: 0.8rem; border-bottom: 1px solid #dcdcdc; font-size: 0.5rem; }
.article-flag-icon { float: left; margin-top: 0.2rem; }
.article-flag-info { margin-left: 1rem; line-height: 160%; }
.article-main img { margin: 0.5rem 0; }
.page-calendar { background-color: #fff; font-size: 0.6rem; padding: 0 0.75rem; border-bottom: 1px solid #eee; }
.page-calendar a { display: block; height: 2.1rem; line-height: 2.1rem; }
.page-calendar a span { margin: 0 0.7rem 0 0.25rem; }
.page-calendar a i { margin-top: 0.75rem; }
/*酒店详情列表*/
.pro-img { width: 3.25rem; height: 2.35rem; overflow: hidden; float: left; position: relative; }
.ico-m { position: absolute; right: 0.2rem; bottom: 0.2rem; color: #D5690A; font-size: 0.35rem; border-radius: 0.3rem; z-index: 5; padding: 0 0.2rem; line-height: 1.6; background: rgba(255,255,255,0.8); }
.img-bottom { position: absolute; bottom: 0; width: 90%; height: 0.5rem; background-color: rgba(0,0,0,.6); line-height: 0.5rem; font-size: 0.45rem; color: #fff; padding: 0 5%; }
.pro-img img { height: 100%; width: 100%; }
.hotel-info { margin-left: 3.75rem; margin-top: 0.3rem; }
.order-item span.facility { padding-top: 0.25rem; }
.myorder-list .order-item .facility i { margin: 0 0.125rem; font-size: 0.75rem; width: 1rem; vertical-align: baseline; }
/*房型详细*/
.room-handle { height: 2.1rem; line-height: 2.1rem; background-color: #fff; border-bottom: 1px solid #eee; padding: 0 0.75rem; font-size: 0.6rem; }
.room-handle .price { margin-left: 1.7rem; }
.room-handle a { margin-top: 0.5rem; }
.article-facility { padding: 0.75rem; margin-top: -0.8rem; border-bottom: 1px solid #dcdcdc; margin-bottom: 0.8rem; }
.article-facility span { font-size: 0.6rem; width: 3.75rem; display: inline-block; }
.article-facility span i { font-size: 0.65rem; margin-right: 0.25rem; }
.myorder-list .zyx-title { width: 4.5rem; }
.details-tab { background-color: #fff; padding: 0.4rem 0; width: 100%; }
.details-tab li { width: 50%; }
.details-tab li a { height: 1.45rem; line-height: 1.45rem; }
.details-tab li a.active { color: #0073e8; }
.ticket-details-tab li { width: 25%; }
.tours-details-tab li { width: 33%; }
.goods-details-tab li { width: 50%; }
.details-tab-panel { width: 100%; overflow: hidden; background-color: #fff; }
.ticket-details-tabs { width: 400%; transition: margin-left 0.2s; -webkit-transition: margin-left 0.2s; }
.ticket-details-tabs .details-tab-item { width: 25%; }
.details-tab-item { color: #666; background-color: #fff; float: left; height: 4rem; overflow: hidden; }
.tab-article { font-size: 0.55rem; padding: 0.5rem; line-height: 180%; }
.tab-article strong { font-weight: bold; }
.tab-article img { margin: 0.4rem 0; }
.trun-down { border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.trun-down a { height: 2.1rem; line-height: 2.1rem; display: block; text-align: center; background-color: #fff; font-size: 0.6rem; }
.trun-down a i { -webkit-transform: rotate(90deg); }
/*类型*/
.mold-panel { background-color: #fff; }
.mold-panel-title { height: 2.1rem; line-height: 2.1rem; padding: 0 0.75rem; font-size: 0.6rem; color: #333; border-bottom: 1px solid #eee; }
.mold-panel p { padding: 0.5rem; }
.mold-panel p a { font-size: 0.3rem; color: #999; display: inline-block; height: 1rem; line-height: 1rem; text-align: center; padding: 0 0.5rem; border: 1px solid #999; border-radius: 3px; margin-right: 1rem; margin-bottom: 0.5rem; }
.mold-panel p a.active { color: #f66; border: 1px solid #f66; }
.time { margin-right: 0.5rem; }
/*攻略*/
.raiders-title { text-align: left; font-size: 0.9rem; }
.raiders-title span { font-size: 0.45rem; }
.raiders-sub-title { text-align: left; font-size: 0.45rem; border-bottom: 1px dashed #ccc; }
.article-content { padding: 0.5rem 0; font-size: 0.6rem; }
.article-content.p0 { padding: 0; }
.guide-info .details-explian span { margin-right: 0.75rem; }
.details-tp { /*margin-top: 0.35rem;*/ padding: 0.2rem 0.75rem 0.4rem; }
.details-tp .details-tits { display: inline-block; border: 1px solid #ff6633; font-size: 0.55rem; color: #ff6633; padding: 0.1rem 0.2rem; margin-right: 0.45rem; border-radius: 0.1rem; }
.details-tp .ml12 { margin-left: 0.75rem; }
.details-tp .yj { font-size: 0.45rem; color: #999; text-decoration: line-through; margin-top: 0.5rem; }
.add-bg { background: url("../images/common/add-bg.png") no-repeat left center; width: 0.675rem; height: 0.675rem; background-size: 0.675rem 0.675rem; display: table-cell; vertical-align: middle; margin-bottom: 0.2rem; padding-right: 0.2rem; }
/*.myorder-list li label{width: 2rem !important;}*/

.price strong { color: #ff6633 }
.price em { color: #ff6633 }
.pro-info .more { color: #ff6633 }
.comments { background: #fff; height: 1.7rem; padding-top: 0.4rem; border-top: 1px solid #dcdcdc; }
.comments span { height: 1.25rem; line-height: 1.25rem; }
.comments .com-score { color: #333; font-size: 0.6rem; border-right: 1px solid #dcdcdc; width: 6rem; padding-left: 1rem; padding-right: 3rem; display: inline-block; }
.star-bg { background: url("../images/details/star.png") no-repeat; width: 0.625rem; height: 0.625rem; background-size: 100%; display: inline-block; margin-right: 0.3rem; }
.comments .com-score em { margin-left: 0.25rem; }
.comments .com-num { font-size: 0.55rem; color: #666; margin-left: 0.85rem; }
.comments .com-num em { color: #009fd5; }
.order-list li { height: 1.1rem; }
.precautions { background: #fff; height: 1.7rem; border-top: 1px solid #dcdcdc; padding: 0.4rem 0.75rem 0; }
.precautions .precautions-info { font-size: 0.6rem; color: #333; }
.precautions .precautions-icon { float: right; width: 1.25rem; height: 1.25rem; border: 1px solid #ff6633; border-radius: 50%; text-align: center }
.precautions i { color: #ff6633; font-size: 0.7rem; }
.hotel-label { width: 6rem !important; }
.hotel-label .star-bg { margin-right: 0.3rem; }
.hotel-label em { margin-left: 0.25rem; }
/*图集*/
.photo-show { width: 100%; }
.photo-show a { display: block; position: relative; height: 100%; }
.photo-show img { width: 100%; height: 11.25rem; position: relative; z-index: 8; }
.ps-con { position: absolute; z-index: 10; left: 0; bottom: 0; color: #fff; }
.ps-con h3 { font-size: 0.75rem; float: left; }
.ps-con span { float: right; font-size: 0.55rem; }
.ps-con span i { font-size: 0.7rem; }
.ps-con { position: absolute; z-index: 10; left: 0; bottom: 0; color: #fff; height: 1.6rem; line-height: 1.6rem; padding-top: 0.2rem; width: 100%; background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0)); background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0) ); }
.ps-con h3 { font-size: 0.75rem; float: left; padding-left: 0.75rem; width: 11rem; height: 1.6rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.ps-con span { float: right; font-size: 0.55rem; padding-right: 0.75rem; }
.ps-con span i { font-size: 0.7rem; line-height: 1.6rem; float: left; padding-right: 0.2rem; }
.detail-menu-box { height: 2.25rem; width: 100%; border-bottom: 1px solid #eee; }
#detailmenu { z-index: 19; }
.page-title { font-size: 0.7rem; background: #fff; height: 1.4rem; line-height: 1.4rem; padding: 0 0.5rem; }
.page-title:before { content: ""; display: block; float: left; height: 0.5rem; border-left: 0.1rem solid #0073e8; width: 0.2rem; margin-top: 0.45rem; }
.page-title strong { display: block; height: 1.4rem; border-bottom: 1px solid #eee; box-sizing: border-box; }
/*攻略详情*/
.detail-time { margin: 0 0.75rem; border-top: 1px solid #ccc; font-size: 0.5rem; height: 0.7rem; line-height: 0.7rem; padding: 0.5rem 0; }
.detail-time .time { color: #f63; }
.detail-time .time i { float: left; line-height: 0.7rem; }
.detail-time .fr { color: #999; }
.detail-title { margin: 0 0.75rem; font-size: 0.75rem; line-height: 2rem; }
.collection { color: #f63; font-size: 0.55rem; }
.collection i { font-size: 0.7rem; float: right; line-height: 2rem; margin-left: 0.2rem; }
/*演艺*/
.acting-d-info { line-height: 0.8rem; padding-top: 0.5rem; }
.acting-showtime { background: #fff; padding-top: 0.7rem; }
.acting-showtime a { float: left; height: 1.35rem; margin: 0 0.6rem 0.7rem; line-height: 1.35rem; text-align: center; border-radius: 0.2rem; font-size: 0.65rem; background: #f5f5f5; width: 2.8rem; box-sizing: border-box; border: 1px solid #d8d8d8; color: #bababa; }
.acting-showtime a.cur { color: #f63; background: #ffeee8; border: 1px solid #f63; }
/*自由行*/
.zyx-d-info .page-list-explian { padding: 0.2rem 0.75rem 0.5rem; margin-top: 0; }
.zyx-d-info .details-tp { }
.pro-price a.topay_btn { border: 0; height: auto; margin-top: 0; line-height: 0.7rem; background: #fff; }
.pro-price a.topay_btn strong { background: #f63; display: block; height: 0.7rem; color: #fff; border-radius: 0.1rem 0.1rem 0 0; }
.pro-price a.topay_btn span { display: block; line-height: 0.7rem; height: 0.7rem; background: #fff; color: #f63; border: 1px solid #f63; border-radius: 0 0 0.1rem 0.1rem; box-sizing: border-box; }
.details-slider .slide { height: 7rem; }
.mask { z-index: 100; }
.page-list1-explian { font-size: 0.45rem; color: #999; line-height: 1rem; }
.page-list1-explian .time { color: #f63; float: left; }
.page-list1-explian .time i { margin-right: 0.1rem; position: relative; top: 0.04rem; }
.page-list1-explian span { font-size: 0.5rem; }
.page-list-explian:last-child { margin-top: 0.3rem; }
/*新闻详情*/
.news-detail-t{ background:#fff; padding:0.3rem 0.75rem;}
.news-detail-t h3{ font-size:0.75rem; line-height: 1.5rem; border-bottom:1px solid #ddd;}
.news-detail-t p{ padding-top: 0.3rem;}
/**/
.video-box{ width:16rem; height:9.5rem;}
.video-box video{ width:100%; height:100%;  background:#000;}

.video-tit{ font-size:0.65rem; background:#fff; border-bottom:1px solid #e2e2e2; padding:0.5rem 0.65rem;}
.video-tit strong{ display: block; width: 10.7rem; padding-right: 4rem;font-size:0.65rem; color:#333; line-height:0.8rem;}
.video-tit time{ font-size:0.65rem; color:#999; }

.photodetail-box{ width:16rem; height:auto;}
.photodetail-box img{ width:16rem;}
