//-底部
.page-line
div.footer-box
    footer.footer-nav.clearfix
        a(href="/index.html")
            i.page-icon.index-home
            p 首页
        a(href="/shopping.html")
            i.page-icon.icon-nav-shopping-cart
            p 购物车
        a(href="javascript:;").addmore
            i.page-icon.icon-nav-jia
        a(href="/member.html")
            i.page-icon.index-use
            p 个人中心
        a(href="tel:000000")
            i.page-icon.icon-nav-kf
            p 客服
    div.footer-layer
        a(href="/ticket")
            strong.nav-bg1: i
            span 景区
        a(href="/hotel")
            strong.nav-bg2: i
            span 酒店
        a(href="/tours")
            strong.nav-bg3: i
            span 跟团游
        a(href="/zyx")
            strong.nav-bg4: i
            span 自由行
        a(href="/special-offer")
            strong.nav-bg5: i
            span 限时特价
        a(href="/foods")
            strong.nav-bg6: i
            span 美食
        a(href="/strategy-list")
            strong.nav-bg7: i
            span 攻略
        a(href="/duocaiguizhou")
            strong.nav-bg8: i
            span 多彩贵州
        a(href="/customized")
            strong.nav-bg9: i
            span 私人定制
        a(href="/newscore")
            strong.nav-bg10: i
            span 新闻中心
        a(href="/activity")
            strong.nav-bg11: i
            span 活动中心
        a(href="/goods")
            strong.nav-bg12: i
            span 特产
        div.cb